{% extends "base.html" %}

{% block content %}
<h1>Оценка работы экспертом</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% if "text" == "text" %}
        <h2>Параметры оценивания текста</h2>
        <p>
            {{ form.relevance.label }}<a>
            {{ form.relevance(class="form-control") }}</a>

        </p>
        <p>
            {{ form.integrity.label }}<a>
            {{ form.integrity(class="form-control") }}</a>

        </p>
        <p>
            {{ form.validity.label }}<a>
            {{ form.validity(class="form-control") }}</a>

        </p>
        <p>
            {{ form.resonance.label }}<a>
            {{ form.resonance(class="form-control") }}</a>

        </p>
        <p>
            {{ form.accuracy.label }}<a>
            {{ form.accuracy(class="form-control") }}</a>

        </p>
        <p>
            {{ form.ethnicity.label }}<a>
            {{ form.ethnicity(class="form-control") }}</a>

        </p>
        <p>
            {{ form.availability.label }}<a>
            {{ form.availability(class="form-control") }}</a>

        </p>
        <p>
            {{ form.materials_cycle.label }}<a>
            {{ form.materials_cycle(class="form-control") }}</a>

        </p>
    {% else %}
        <h2>Параметры оценивания видео</h2>
        <p>
            {{ form.expression_of_thought.label }}<a>
            {{ form.expression_of_thought(class="form-control") }}</a>

        </p>
        <p>
            {{ form.integrity.label }}<a>
            {{ form.integrity(class="form-control") }}</a>

        </p>
        <p>
            {{ form.personalized_character.label }}<a>
            {{ form.personalized_character(class="form-control") }}</a>

        </p>
        <p>
            {{ form.artistic_techniques.label }}<a>
            {{ form.artistic_techniques(class="form-control") }}</a>

        </p>
        <p>
            {{ form.operators_work.label }}<a>
            {{ form.operators_work(class="form-control") }}</a>

        </p>
    {% endif %}
    <h2>Параметры понижения оценки</h2>
    <p>
        {{ form.promotional_materials.label }}<a>
        {{ form.promotional_materials(class="form-control") }}</a>

    </p>
    <p>
        {{ form.journalistic_stamps.label }}<a>
        {{ form.journalistic_stamps(class="form-control") }}</a>

    </p>
    <p>
        {{ form.сustom_nature.label }}<a>
        {{ form.сustom_nature(class="form-control") }}</a>

    </p>
    <p>
        {{ form.grammatical_errors.label }}<a>
        {{ form.grammatical_errors(class="form-control") }}</a>

    </p>
    <p>
        {{ form.orthoepic_norms.label }}<a>
        {{ form.orthoepic_norms(class="form-control") }}</a>

    </p>



    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
