{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}




{% block content %}
<meta charset="UTF-8">
{% set STATUSES  = {"waiting_verification": "Ожидает оценивания", "verified": "Оценена", "aborted":  "Отменена"} %}
{% set TYPES  = {"text": "Текстовая работа", "video": "Видео материал"} %}

<br>
<br>
<h2 align="center">Оцененые заявки</h2>
<br>
<div class="table_container">
    <table class="table table-striped table-hover">
        <tr class="my_row">
            <td class="table-dark" width="2%" align="center">Id</td>
            <td class="table-dark" width="5%" align="center">Тип работы</td>
            <td class="table-dark" width="25%" align="center">Ссылка на работу</td>
            <td class="table-dark" width="25%" align="center">Тема работы</td>
            <td class="table-dark" width="6%" align="center">Статус</td>
            <td class="table-dark" width="8%" align="center">Действие</td>
        </tr>
        {% for proposal in proposals %}

        <tr class="my_row">
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ proposal.id }}</td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ TYPES[proposal.type] }}</td>
            <td  ><a class="anchor" href="{{proposal.file}}">{{ proposal.file }}</a></td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ proposal.theme }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ STATUSES[proposal.status] }}</td>
            <td class="ordinary" align="center">
                {% if proposal.status == 'verified'%}
                <div>       <a href="/proposals/view/{{ proposal.id }}"  class="btn">Посмотреть результаты</a>
                </div>
                {% elif current_user.is_authenticated %}
                <div>       <a href="/proposals/rate/{{ proposal.id }}"  class="btn">Оценить работу</a>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}